<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @notebook.name %>
  </p>
  <% @notebook.clippings.each do |clip| %>
    <%= clip.title %></br>
  <% end %>


<%= link_to 'Edit', edit_notebook_path(@notebook) %> |
<%= link_to 'Back', notebooks_path %>
