<%= form_for(@clipping) do |f| %>
  <% if @clipping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clipping.errors.count, "error") %> prohibited this clipping from being saved:</h2>

      <ul>
      <% @clipping.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div>
    <%= f.label :notebook_id, "Notebook" %>
    <%= f.collection_select :notebook_id, @notebook, :id, :name, :prompt => true %>
  </div>
  <div>
    <%= f.fields_for :notebook do |builder| %>
      <%= builder.label :name, "create new notebook" %>
      <%= builder.text_field :name %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
